<div class="flex flex-col items-center w-full">
    <div class="w-full mb-4 card md:w-1/2">
        <h1 class="mb-4 text-2xl">Add New Customer</h1>
        
        <fieldset>
            <legend>Name *</legend>
            <input type="text" placeholder="Name">
        </fieldset>

        <fieldset>
            <legend>Email *</legend>
            <input type="email" placeholder="Email">
        </fieldset>

        <fieldset>
            <legend>Phone</legend>
            <input type="text" placeholder="Phone">
        </fieldset>

        <fieldset>
            <legend>Address</legend>
            <textarea></textarea>
        </fieldset>

        <div class="flex justify-end w-full mt-6 space-x-3">
            <button type="button" class="btn">Save and Add New</button>
            <button type="submit" class="btn">Save</button>
        </div>
    </div>

    <p class="text-center">
        <button (click)="returnToList()" class="text-blue-600 underline">Return to list</button>
    </p>
</div>